<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Add trainee to the group</title>
</head>

<body>

    <div class="container">
        <h4 th:text="'Trainee: ' + ${trainee.firstName} + ' ' + ${trainee.lastName}" class="centered" style="font-size: 48px"></h4>

        <form action="#" th:action="@{/groups/manage/{groupId}/addTrainee/{traineeId}(groupId=${group.id}, traineeId=${trainee.id})}" method="POST">
            <div class="mb-3">
                <label for="description" class="form-label">Please input trainee description:</label>
                <textarea class="form-control" id="description" name="description" rows="4"></textarea>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-lg mb-3">Confirm description and add trainee to the Group</button>
            </div>

        </form>

        <hr>

        <a th:href="@{/groups/manage/{groupId}(groupId=${group.id})}">Back to Group Manager</a>

    </div>

</body>

<html/>